Window_Service_Problem/Client/Connected Services/Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_intput_x_InputMessage">
    <wsdl:part name="parameters" element="tns:intput_x" />
  </wsdl:message>
  <wsdl:message name="IService1_intput_x_OutputMessage">
    <wsdl:part name="parameters" element="tns:intput_xResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_input_y_InputMessage">
    <wsdl:part name="parameters" element="tns:input_y" />
  </wsdl:message>
  <wsdl:message name="IService1_input_y_OutputMessage">
    <wsdl:part name="parameters" element="tns:input_yResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_InputMessage">
    <wsdl:part name="parameters" element="tns:operation" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_OutputMessage">
    <wsdl:part name="parameters" element="tns:operationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="intput_x">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/intput_x" message="tns:IService1_intput_x_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/intput_xResponse" message="tns:IService1_intput_x_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="input_y">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/input_y" message="tns:IService1_input_y_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/input_yResponse" message="tns:IService1_input_y_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="operation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/operation" message="tns:IService1_operation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/operationResponse" message="tns:IService1_operation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="intput_x">
      <soap12:operation soapAction="http://tempuri.org/IService1/intput_x" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="input_y">
      <soap12:operation soapAction="http://tempuri.org/IService1/input_y" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operation">
      <soap12:operation soapAction="http://tempuri.org/IService1/operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8090/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ASIAPACIFIC\sinanant</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>